<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng" [styles]='styles' [streetViewControl]=true>
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  <agm-polygon [paths]= 'triangleCoords' [strokeWeight]=2
  >
  
</agm-polygon>
</agm-map>
<hr>
<agm-map [latitude]="lat"  [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng" ></agm-marker>
</agm-map>
<div id=testing>Testing</div>
<button (click)='someFunction()'>SCROLL Listener</button>
<p></p>